@page "/FindCards"

<PageTitle>Find Cards</PageTitle>

<MudText Typo="Typo.h3" GutterBottom="true">Find Cards</MudText>
<MudTextField T="string" Label="Cards" Variant="Variant.Text" @bind-Value="_cardsText" Lines="10" Placeholder="3 Lightning Bolt" Disabled="@_isWorking" />
<MudButton Variant="Variant.Filled" Color="Color.Primary" FullWidth="true" Disabled="@_isWorking" OnClick="PerformSearch">@(_solverStatus ?? (_isWorking ? "Working?" : "Solve"))</MudButton>

<MudProgressLinear Rounded="true" Size="Size.Medium" Color="Color.Primary" Striped="true" hidden="@(!_isWorking)" Value="@((_solvedPercent ?? 0) * 100)" />

@if(_solverContext != null && _solverContext.Solution != null)
{
	var s = _solverContext.Solution;

	<MudTabs>
		<MudTabPanel Text="Solution">
			@foreach (var c in s.Cards)
			{
				<MudText Typo="Typo.h5">@c.Key</MudText>
				@foreach (var v in c.Value)
				{
					<li>@(v.Store.Name + " / " + v.Card.Treatment + " @ " + v.Amount + " x $" + v.Card.Price)</li>
				}
			}
		</MudTabPanel>
		<MudTabPanel Text="By Card">
			@{
				var cards = _solverContext.CardsAtEachStore!.SelectMany(kvp => kvp.Value.SelectMany(x => x).Select(x => (kvp.Key, x))).Select(x => new StoreAndCard(x.Key, x.x));
			}
			<MudTable Items="@cards" Hover="true" SortLabel="Sort By" Filter="new Func<StoreAndCard, bool>(Filter)">
				<ToolBarContent>
					<MudText Typo="Typo.h6">Results</MudText>
					<MudSpacer />
					<MudTextField @bind-Value="_filter" Placeholder="Filter" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
				</ToolBarContent>
				<HeaderContent>
					<MudTh><MudTableSortLabel SortBy="new Func<StoreAndCard, object>(x => x.Card.ProductUrl ?? string.Empty)">Url</MudTableSortLabel></MudTh>
					<MudTh><MudTableSortLabel SortBy="new Func<StoreAndCard, object>(x => x.Card.Stock)">Stock</MudTableSortLabel></MudTh>
					<MudTh><MudTableSortLabel SortBy="new Func<StoreAndCard, object>(x => x.Card.Set)">Set</MudTableSortLabel></MudTh>
					<MudTh><MudTableSortLabel SortBy="new Func<StoreAndCard, object>(x => x.Card.Treatment)">Treatment</MudTableSortLabel></MudTh>
					<MudTh><MudTableSortLabel SortBy="new Func<StoreAndCard, object>(x => x.Card.Price)">Price</MudTableSortLabel></MudTh>
					<MudTh><MudTableSortLabel SortBy="new Func<StoreAndCard, object>(x => x.Store.Name)">Store</MudTableSortLabel></MudTh>
					<MudTh><MudTableSortLabel SortBy="new Func<StoreAndCard, object>(x => x.Card.ImageUrl ?? string.Empty)">Image</MudTableSortLabel></MudTh>
				</HeaderContent>
				<RowTemplate>
					<MudTd DataLabel="Url"><a href="@context.Card.ProductUrl">Link</a></MudTd>
					<MudTd DataLabel="Store">@context.Store.Name</MudTd>
					<MudTd DataLabel="Set">@context.Card.Set</MudTd>
					<MudTd DataLabel="Treatment">@context.Card.Treatment</MudTd>
					<MudTd DataLabel="Price">@context.Card.Price</MudTd>
					<MudTd DataLabel="Stock">@context.Card.Stock</MudTd>
					<MudTd DataLabel="Image"><img src="@context.Card.ImageUrl" style="width: 80px" /></MudTd>
				</RowTemplate>
			</MudTable>
		</MudTabPanel>
	</MudTabs>
}